<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE configuration  
 PUBLIC "-//mybatis.org//DTD Config 3.0//EN"  
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<mappers>
		<mapper resource="com/fuhj/itower/model/sqlmap/ItStationMapper.xml" />
		<mapper resource="com/fuhj/itower/model/sqlmap/SysUserMapper.xml" />
		<mapper resource="com/fuhj/itower/model/sqlmap/ITCityMapper.xml" />
		<mapper resource="com/fuhj/itower/model/sqlmap/ITDistrictMapper.xml" />
		<mapper resource="com/fuhj/itower/model/sqlmap/ITProvinceMapper.xml" />
		<mapper resource="com/fuhj/itower/model/sqlmap/StaAgtStaffMapper.xml" />
		<mapper resource="com/fuhj/itower/model/sqlmap/UpdateLogMapper.xml" />
		<mapper resource="com/fuhj/itower/model/sqlmap/AlarmHistoryMapper.xml" />
		<mapper resource="com/fuhj/itower/model/sqlmap/AlarmQueryLogMapper.xml" />
		<mapper resource="com/fuhj/itower/model/sqlmap/BotChatLogMapper.xml" />
		<mapper resource="com/fuhj/itower/model/sqlmap/StationBatteryMapper.xml" />
		<mapper resource="com/fuhj/itower/model/sqlmap/FSUCondItemMapper.xml" />
		<mapper resource="com/fuhj/itower/model/sqlmap/ZbzItemMapper.xml" />
		<mapper resource="com/fuhj/itower/model/sqlmap/ITBillMapper.xml" />
		<mapper resource="com/fuhj/itower/model/sqlmap/GElecInfoMapper.xml" />
		<mapper resource="com/fuhj/itower/model/sqlmap/GElecUserMapper.xml" />
	</mappers>
</configuration>  
