@import url("secondary-royal-blue.css");

.top-aside,
.banner,
.small_banner,
.banner-slider,
footer {
background-color: #122A53;
background-image: url("bg-banner-royal-blue.png")/*tpa=http://view.jqueryfuns.com/%E9%A2%84%E8%A7%88-/2014/8/29/4352_ea7c8c1e2122d528665a804b95875954/images/skins/bg-banner-royal-blue.png*/;
background-position: center center;
background-repeat: no-repeat;
background: -webkit-gradient(radial, center center, 0, center center, 460, from(#2D59A2), to(#122A53));
background: -webkit-radial-gradient(circle, #2D59A2, #122A53);
background: -moz-radial-gradient(circle, #2D59A2, #122A53);
background: -ms-radial-gradient(circle, #2D59A2, #122A53);
}